
.profile__img-container {
  position: relative;
  margin-right: 30px;
  width: 120px;
  height: 120px;
}
@media (max-width:650px) {
  .profile__img-container {
   margin: 0 0 22px 0;
  }
}
.profile__img-container:hover .profile__img-overlay::after {
  background-color: rgba(0, 0, 0, 0.8);
}

.profile__img-container:hover .profile__edit-avatar {
  opacity: 1;
}
