
.element__heart {
  background-image: url(../../../images/heart.svg);
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: background-image .3s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.element__heart:active {
  transform: scale(0.9);
}

.element__heart:not(.element__heart_liked):hover {
  opacity: 0.5;
}


