.profile__text {
  margin-right: 18px;
  text-overflow: ellipsis;
  max-width: 336px;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width:650px) {
  .profile__text{
    margin-right: 10px;
  }
}
