.popup__close-image {
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  transition: .3s ease;
}
.popup__close-image:hover {
  opacity: 0.8;
}
@media (max-width:650px) {
  .popup__close-image {
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}
